<html ng-app="Worder">
<head>
	<title>Worder</title>
	
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="bower_components/ngtoast/dist/ngToast.min.css">

	<!-- Bower Dependencies | Vendor Scripts -->
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="bower_components/ngtoast/dist/ngToast.min.js"></script>

	<!-- Application Scripts -->
	<script type="text/javascript" src="app.js"></script>

</head>
<body ng-controller="ApplicationController">
	<toast></toast>
	<br />
	<div class="row word-row">
		<div class="word-wrapper col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
			{{ getRandomWord() }}
			
			<div class="row word-details-wrapper">
				<div class="row">
					<p class="word">{{ word[1] }}</p>
				</div>
				
				<div class="row">
					<p class="word-meaning">{{ word[2] }}</p>
				</div>
			</div>

		</div>
		<div class="button-left col-md-5 col-sm-5 col-xs-5 col-md-offset-1 col-sm-offset-1 col-xs-offset-1" ng-click="showWord($event)">
			<span class="button-left-text">Show</span>
		</div>
		<div class="button-right col-md-5 col-sm-5 col-xs-5" ng-click="checker()">
			<span class="button-right-text">I Know It</span>
		</div>
	</div>
</body>
</html>