html, body { overflow: hidden; }

html {
	width: 100vw;
}

body {
	background: url(http://res.cloudinary.com/chi6rag/image/upload/v1434896557/Worder/1795633_1654912291409131_4450042738126450817_n.jpg);
  width: 100vw;
	height: 100vh;
}

.word-row {
	position: relative;
	top: 40%;
	transform: translateY(-50%);
}

.word-wrapper {
	height: 40vh;
	background: #EAF2F5;
}

.word-details-wrapper {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 3em;
}

.word, .word-meaning {
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 7vmin;
}

.word-meaning {
	font-size: 4vmin;
}

.button-left, .button-right {
	height: 10vh;
	text-align: center;
	cursor: pointer; cursor: hand;
}

.button-left {
	background: #D3524E;
}

.button-right {
	background: #1CBB9B;
}

.button-right-text, .button-left-text {
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 4vmin;
	font-weight: 100;
	color: whitesmoke;
}