.word-wrapper {
	height: 40vh;
	background: #F3F3F5;
}

.word {
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 10vmin;
}

.button-left, .button-right {
	height: 10vh;
	text-align: center;
	cursor: pointer; cursor: hand;
}

.button-left {
	background: #D3524E;
}

.button-right {
	background: #1CBB9B;
}

.button-right-text, .button-left-text {
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 4vmin;
	font-weight: 100;
	color: whitesmoke;
}